<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>
    <ion-title slot="end">Ordenes Pendientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-virtual-scroll [items]="items" approxItemHeight="320px">

    <ion-card *virtualItem="let item; let itemBounds = bounds;">
      <ion-card-header>
        <ion-card-title>{{ item.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ item.content }}</ion-card-content>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>

<ion-footer>


</ion-footer>