<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToLogin()">Back</ion-button>
    </ion-buttons>
    <!-- <ion-title>Registro</ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-content>
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/logo-nav.png" alt="music">
  </figure>

  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)" class="ion-padding">
    <ion-item>
      <ion-label position="floating">Nombre <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of  validator_msg.nombre">
        <div *ngIf="(registerForm.get('nombre').hasError(validation.type) && 
          registerForm.get('nombre').dirty) 
          ">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Apellido <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="apellido" type="text"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of  validator_msg.apellido">
        <div *ngIf="(registerForm.get('apellido').hasError(validation.type) && 
          registerForm.get('apellido').dirty) 
          ">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="email" type="text"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of  validator_msg.email">
        <div *ngIf="(registerForm.get('email').hasError(validation.type) && 
          registerForm.get('email').dirty) 
          ">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input required formControlName="password" type="password"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of  validator_msg.password">
        <div *ngIf="(registerForm.get('password').hasError(validation.type) && 
          registerForm.get('password').dirty) 
          ">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    {{errorMessage}}

    <ion-button class="ion-text-center" expand="full" shape="round" color="success" type="submit"
      [disabled]="registerForm.invalid">
      Registrar
    </ion-button>
  </form>
</ion-content>